<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".terrain" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".b3dm" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".topojson" mimeType="application/octet-stream" />
				<mimeMap fileExtension=".i3dm" mimeType="application/octet-stream" />
        </staticContent>
		 <httpProtocol>
    
        <customHeaders>
                <remove name="X-Powered-By" />  
        <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, api_key, Authorization" />  
      </customHeaders>  
     
   </httpProtocol>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".json" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
